body {
    font-family: Arial;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.caja {
    background: rgb(190, 221, 213);
    padding: 30px;
    width: 300px;
    border-radius: 30px;
}
form {
    display: flex;
    gap: 8px;
}

input {
    flex: 5;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button {
background-color: #8cb6e6;
margin-top: 2%;

}

